<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Sunny Patel</title>

<!-- main css file -->
<link rel="stylesheet" href="/css/style.css"/>


<!-- color styles - uncomment your preferred -->
<link rel="stylesheet" type="text/css" href="/css/skins/turquoise.css"
      name="colors"/>
<!--
<link rel="stylesheet" type="text/css" href="css/skins/orange.css" name="colors" />
<link rel="stylesheet" type="text/css" href="css/skins/yellow.css" name="colors" />
<link rel="stylesheet" type="text/css" href="css/skins/green.css" name="colors" />
<link rel="stylesheet" type="text/css" href="css/skins/blue.css" name="colors" />
<link rel="stylesheet" type="text/css" href="css/skins/brown.css" name="colors" />
<link rel="stylesheet" type="text/css" href="css/skins/violet.css" name="colors" />
<link rel="stylesheet" type="text/css" href="css/skins/purple.css" name="colors" />
<link rel="stylesheet" type="text/css" href="css/skins/grey.css" name="colors" />
<link rel="stylesheet" type="text/css" href="css/skins/red.css" name="colors" />
-->

<!-- Style Switcher Box delete for remove styleswitcher-->
<link rel="stylesheet" href="/css/styleswitcher.css">

<!-- google fonts -->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700'
      rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web'
      rel='stylesheet' type='text/css'>

<script src="/js/vendor/modernizr.js"></script>