<!-- start section #about -->
<section id = "about">

    <div class = "row bot-70">

        <div class = "medium-5 columns">
            <h2>About <strong>ME</strong></h2>

            <p>I'm from Thailand. I have a really long name.</p>
        </div>
        <div class = "medium-1 columns">
            <i class = "icon kurr-speech-streamline-talk-user big white"></i>
        </div>
        <div class = "medium-6 columns">
            <p>Based on <span class = "bold">K.I.S.S. principle</span>, i'm
                suitable for personal, portfolio, corporate or creative
                use.<br/>
                <span class = "bold">Easy and funny to customize </span>i'm
                the perfect partner for your next project</p>
        </div>

    </div>

    <div class = "row" data-equalizer>
        <div class = "medium-5 columns wow fadeInLeft" data-wow-delay = "0.2s"
             data-wow-duration = "1.2s" data-wow-offset = "30"
             data-equalizer-watch align = "center">
            <img class = "logo" src = "/img/family.jpg" alt = ""
                 style = "width:300px;"/>
        </div>

        <div class = "medium-7 columns wow fadeInRight" data-wow-delay = "0.2s"
             data-wow-duration = "1.2s" data-wow-offset = "30"
             data-equalizer-watch>
            <div class = "content-text">
                <p>My name is Ratchapong and I am an undergraduate majoring
                    in Computer Engineer and minoring in Computer Science in
                    Georgia Institute of Technology.

                    designer who specializes in creating dynamic and
                    beautiful web pages. I have been in the field for nearly
                    7 years, and have been loving every minute of it. I am a
                    blogger, entrepreneur, designer, developer, and overall
                    thinker. Check out some of the links below to see what
                    I've been up to lately.</p>

                <p>Gun control global leaders; experience in the field,
                    developing nations voice gender equality many voices
                    social responsibility Ford Foundation refugee Nelson
                    Mandela.</p>
            </div>

        </div>

        <div class = "medium-12 text-center columns wow fadeInUp"
             data-wow-delay = "0.2s" data-wow-duration = "1.2s"
             data-wow-offset = "30">
            <a class = "cv_btn" title = "" href = "/download/Resume.pdf">download
                resume</a>
        </div>

    </div>

</section><!-- end section #about -->