<!-- start section #contact -->
<section id = "contact">

    <div class = "row bot-70">

        <div class = "medium-5 columns">
            <h2>Contact <strong>ME</strong></h2>

            <p>Most preferred way for contacting me is via Gmail!</p>
        </div>
        <div class = "medium-1 columns">
            <i class = "icon kurr-pen-streamline-3 big white"></i>
        </div>
        <div class = "medium-6 columns">
            <p>If you want to inspect the source code of any project. Feel
                free to contact me.</p>
        </div>

    </div>

    <div class = "row bot-70 wow fadeInLeft" data-wow-delay = "0.2s"
         data-wow-duration = "1.2s" data-wow-offset = "30">

        <!-- start link-box -->
        <div class = "large-4 medium-4 columns link-box ">
            <div class = "about">
                <i class = "icon icon kurr-map-pin-streamline"></i>

                <h3>Address</h3>

                <p>1040 Huff Road NW<br/>Atlanta, GA 30318</p>
            </div>
        </div>
        <!-- end link-box -->

        <!-- start link-box -->
        <div class = "large-4 medium-4 columns link-box">
            <div class = "about">
                <i class = "icon kurr-email-mail-streamline"></i>

                <h3>Email</h3>

                <p>ratchapong.t@gmail.com<br/>ratchapong3@gatech.edu</p>
            </div>
        </div>
        <!-- end link-box -->

        <!-- start link-box -->
        <div class = "large-4 medium-4 columns link-box">
            <div class = "about">
                <i class = "icon kurr-iphone-streamline"></i>

                <h3>Thai/USA</h3>

                <p>+668 4544 5435 <br/>+1 470 226 6955</p>
            </div>
        </div>
        <!-- end link-box -->

    </div>

</section><!-- end section #contact -->