<!-- start section #education -->
<section id = "education">

    <div class = "row bot-70">
        <div class = "medium-5 columns">
            <h2>My <strong>EDUCATION</strong></h2>

            <p>Only listing details regarding Highschool and University.</p>
        </div>
        <div class = "medium-1 columns">
            <i class = "icon kurr-book-read-streamline big white"></i>
        </div>
        <div class = "medium-6 columns">
            <p>
                <i>An investment in knowledge pays the best interest.</i>
                <br>
                - Benjamin Franklin - </p>
        </div>
    </div>

    <!-- start education box -->
    <div class = "row education wow fadeInRight" data-wow-delay = "0.2s"
         data-wow-duration = "1.2s" data-wow-offset = "30" data-equalizer>
        <div class = "medium-2 columns">
            <div class = "date" data-equalizer-watch>
                <h5>Present</h5>
            </div>
        </div>

        <div class = "medium-10 columns" data-equalizer-watch>

            <h3><img class = "logo" src = "/img/gt.png" alt = ""
                     style = "width: 50px"/> Bachelor's Degree of Computer
                Engineering <br> (Major)</h3>

            <p>August 2012 – Present</p>

            <p>Georgia Institute of Technology, Atlanta, GA.</p>

            <p>Major GPA 4.0/4.0, Faculty’s Honor (Expected)</p>


            <h3><img class = "logo" src = "/img/gt.png" alt = ""
                     style = "width: 50px"/> Bachelor's Degree of Computer
                Science <br>(Minor)</h3>

            <p>August 2012 – Present</p>

            <p>Georgia Institute of Technology, Atlanta, GA.</p>

            <p>Minor GPA 4.0/4.0, Faculty’s Honor (Expected)</p>

            <div class = "medium-12 text-center columns wow fadeInUp"
                 data-wow-delay = "0.2s" data-wow-duration = "1.2s"
                 data-wow-offset = "30">
                <a class = "cv_btn" title = ""
                   href = "/download/University.pdf">download
                    unofficial transcript</a>
            </div>
        </div>
    </div>
    <!-- end education box -->

    <!-- start education box -->
    <div class = "row education education wow fadeInLeft"
         data-wow-delay = "0.2s" data-wow-duration = "1.2s"
         data-wow-offset = "30" data-equalizer>
        <div class = "medium-2 columns">
            <div class = "date" data-equalizer-watch>
                <h5>November <span>2011</span></h5>

            </div>
        </div>
        <div class = "medium-10 columns" data-equalizer-watch>
            <h3><img class = "logo" src = "/img/acs.png" alt = ""
                     style = "width: 50px"/> International Baccalaureate Diploma
            </h3>

            <p>January 2009 – November 2011</p>

            <p>ACS International High School, Singapore.</p>

            <p>IB Score 44/45, Top in High School, 99th Percentile in the world
                (7000 candidates)</p>
            <div class = "medium-12 text-center columns wow fadeInUp"
                 data-wow-delay = "0.2s" data-wow-duration = "1.2s"
                 data-wow-offset = "30">
                <a class = "cv_btn" title = "" href = "/download/Diploma.pdf">download
                    (IB Diploma) transcript</a>
            </div>
        </div>
    </div>
    <!-- end education box -->

    <!-- start education box -->
    <div class = "row education wow fadeInRight" data-wow-delay = "0.2s"
         data-wow-duration = "1.2s" data-wow-offset = "30" data-equalizer>
        <div class = "medium-2 columns">
            <div class = "date" data-equalizer-watch>
                <h5>November <span>2009</span></h5>
            </div>
        </div>
        <div class = "medium-10 columns" data-equalizer-watch>
            <h3><img class = "logo" src = "/img/acs.png" alt = ""
                     style = "width: 50px"/> Cambridge IGCSE</h3>

            <p>January 2006 – November 2009</p>

            <p>ACS International High School, Singapore.</p>

            <p>Attained 9 (out of 10) A* for all the exams.</p>

            <div class = "medium-12 text-center columns wow fadeInUp"
                 data-wow-delay = "0.2s" data-wow-duration = "1.2s"
                 data-wow-offset = "30">
                <a class = "cv_btn" title = "" href = "/download/IGCSE.pdf">download
                    (IGCSE) transcript</a>
            </div>
        </div>
    </div>
    <!-- end education box -->

    <div class = "bot-70"></div>

    <div class = "row">

        <div class = "medium-12 text-center">
            <h3 class = "bot-70">My <strong>INTERESTS</strong></h3>
        </div>

        <div id = "interests" class = "owl-carousel>">

            <!-- start box -->

            <div class = "box">
                <i class = "icon kurr-like-love-streamline big"></i>
                <h5>User Experience</h5>

                <p>I will always try my best to design user interface (UI) in
                    accordance to UI design principals.</p>
            </div>

            <!-- stendart box -->

            <!-- start box -->

            <div class = "box">
                <i class = "icon kurr-design-pencil-rule-streamline big"></i>
                <h5>Web Design</h5>

                <p>Capacity building women's rights rural development
                    Bloomberg working alongside honor. Freedom positive
                    social change challenges.</p>
            </div>

            <!-- end box -->

            <!-- start box -->

            <div class = "box">
                <i class = "icon kurr-settings-streamline-1 big"></i>
                <h5>Development</h5>

                <p>Capacity building women's rights rural development
                    Bloomberg working alongside honor. Freedom positive
                    social change challenges.</p>
            </div>

            <!-- end box -->

            <!-- start box -->

            <div class = "box">
                <i class = "icon kurr-painting-pallet-streamline big"></i>
                <h5>Painting</h5>

                <p>Capacity building women's rights rural development
                    Bloomberg working alongside honor. Freedom positive
                    social change challenges.</p>
            </div>

            <!-- stendart box -->

            <!-- start box -->

            <div class = "box">
                <i class = "icon kurr-chef-food-restaurant-streamline big"></i>
                <h5>Cooking</h5>

                <p>Capacity building women's rights rural development
                    Bloomberg working alongside honor. Freedom positive
                    social change challenges.</p>
            </div>

            <!-- end box -->

            <!-- start box -->

            <div class = "box">
                <i class = "icon kurr-earth-globe-streamline big"></i>
                <h5>Travelling</h5>

                <p>Capacity building women's rights rural development
                    Bloomberg working alongside honor. Freedom positive
                    social change challenges.</p>
            </div>

            <!-- end box -->

        </div>

    </div>

</section><!-- end section #education -->