<!-- start section #experience -->
<section id = "experience">

    <div class = "row bot-70">

        <div class = "medium-5 columns">
            <h2>My <strong>EXPERIENCE</strong></h2>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>
        <div class = "medium-1 columns">
            <i class = "icon kurr-clock-streamline-time big white"></i>
        </div>
        <div class = "medium-6 columns">
            <p>
                <i>The only source of knowledge is experience.</i>
                <br>
                - Albert Einstein - </p>
        </div>

    </div>

    <div id = "cd-timeline" class = "cd-container">
        <div class = "cd-timeline-block">
            <div class = "cd-timeline-img">
                <i class = "icon kurr-design-pencil-rule-streamline"></i>
            </div>
            <!-- cd-timeline-img -->

            <div class = "cd-timeline-content">
                <h2>Web Designer</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Iusto, optio, dolorum provident rerum aut hic quasi
                    placeat iure tempora laudantium ipsa ad debitis
                    unde.</p>
                <span class = "cd-date">From Jan 2014 to present</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class = "cd-timeline-block">
            <div class = "cd-timeline-img">
                <i class = "icon kurr-camera-photo-polaroid-streamline"></i>
            </div>
            <!-- cd-timeline-img -->

            <div class = "cd-timeline-content">
                <h2>Photographer</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Iusto, optio, dolorum provident rerum aut hic quasi
                    placeat iure tempora laudantium ipsa ad debitis
                    unde.</p>
                <span class = "cd-date">From may 2013 to Jan 2014</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class = "cd-timeline-block">
            <div class = "cd-timeline-img">
                <i class = "icon kurr-settings-streamline-1"></i>
            </div>
            <!-- cd-timeline-img -->

            <div class = "cd-timeline-content">
                <h2>Web Developer</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Iusto, optio, dolorum provident rerum aut hic quasi
                    placeat iure tempora laudantium ipsa ad debitis
                    unde.</p>
                <span class = "cd-date">From Jan 2013 to may 2013</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->

        <div class = "cd-timeline-block">
            <div class = "cd-timeline-img">
                <i class = "icon kurr-camera-streamline-video"></i>
            </div>
            <!-- cd-timeline-img -->

            <div class = "cd-timeline-content">
                <h2>Video Maker</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Iusto, optio, dolorum provident rerum aut hic quasi
                    placeat iure tempora laudantium ipsa ad debitis
                    unde.</p>
                <span class = "cd-date">From Jun 2012 to Jan 2013</span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->
    </div>
    <!-- cd-timeline -->

</section><!-- end section #experience -->