<!-- start section #portfolio -->
<section id="portfolio">

    <div class="row bot-70">

        <div class="medium-5 columns">
            <h2>My <strong>PORTFOLIO</strong></h2>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>
        <div class="medium-1 columns">
            <i class="icon kurr-streamline-suitcase-travel big white"></i>
        </div>
        <div class="medium-6 columns">
            <p><i>Time passes faster and faster, but with every project I always
                    want to find the next challenge and the next challenge is
                    just
                    as exciting as the previous one.</i>
                <br>
                - Alexander Wang - </p>
        </div>

    </div>

    <div class="row">

        <div class="medium-4 columns work">
            <div class="portfolio-img">
                <div class="portfolio-hover">
                    <a href="/projects/firstwebsite/"><i
                                class="icon kurr-eye-1"></i></a>
                </div>
                <img src="/portfolio/firstwebsite.png" alt=""
                     width="300px">
            </div>
            <div class="project-info">
                <h3>My First Website!</h3>

                <p>Simple HTML and CSS (Fall 2012)</p>
            </div>
        </div>

        <div class="medium-4 columns work">
            <div class="portfolio-img">
                <div class="portfolio-hover">
                    <a href="/projects/matlabship/"><i
                                class="icon kurr-eye-1"></i></a>
                </div>
                <img src="/portfolio/matlabship/matlabshipcover.png" alt=""
                     width="300px">
            </div>
            <div class="project-info">
                <h3>MATLAB Pirate Ship</h3>

                <p>MATLAB Animation (Fall 2012)</p>
            </div>
        </div>

        <div class="medium-4 columns work">
            <div class="portfolio-img">
                <div class="portfolio-hover">
                    <a href="/projects/findgeorge/"><i
                                class="icon kurr-eye-1"></i></a>
                </div>
                <img src="/portfolio/findgeorge/findgeorgecover.png" alt="">
            </div>
            <div class="project-info">
                <h3>Find George</h3>

                <p>Assembly Language MIPS (Fall 2013)</p>
            </div>
        </div>

        <div class="medium-4 columns work">
            <div class="portfolio-img">
                <div class="portfolio-hover">
                    <a href="/projects/angrymonkey/"><i
                                class="icon kurr-eye-1"></i></a>
                </div>
                <img src="/portfolio/angrymonkey/angrymonkeycover.png" alt="">
            </div>
            <div class="project-info">
                <h3>Angry Monkey</h3>

                <p>C++ and Python (Fall 2013)</p>
            </div>
        </div>

        <div class="medium-4 columns work">
            <div class="portfolio-img">
                <div class="portfolio-hover">
                    <a href="/projects/trainlab/"><i
                                class="icon kurr-eye-1"></i></a>
                </div>
                <img src="/portfolio/trainlab/trainlabcover.png" alt="">
            </div>
            <div class="project-info">
                <h3>Train Lab</h3>

                <p>VHDL State Machine (Fall 2013)</p>
            </div>
        </div>

        <div class="medium-4 columns work">
            <div class="portfolio-img">
                <div class="portfolio-hover">
                    <a href="/projects/gameofthrones/"><i
                                class="icon kurr-eye-1"></i></a>
                </div>
                <img src="/portfolio/gameofthrones/gameofthronescover.png"
                     alt="">
            </div>
            <div class="project-info">
                <h3>Game of Thrones</h3>

                <p>C++ and Python (Fall 2014)</p>
            </div>
        </div>

        <div class="medium-4 columns work">
            <div class="portfolio-img">
                <div class="portfolio-hover">
                    <a href="/projects/indoornavigation/"><i
                                class="icon kurr-eye-1"></i></a>
                </div>
                <img src="/portfolio/indoornavigation/indoornavigationcover.png"
                     alt="">
            </div>
            <div class="project-info">
                <h3>Indoor Navigation</h3>

                <p>User Interface Deign (Fall 2014)</p>
            </div>
        </div>

    </div>

</section><!-- end section #portfolio -->