<!-- start section #quote -->
<section id = "quote">
    <div class = "bg_overlay"></div>
    <div class = "row text-center">
        <h2 class = "white">Life is not a rehearsal, so you'd better get on with
            it.</h2>

        <h3>- Tommy Emmanuel -</h3>
    </div>
</section><!-- ens section #quote -->