<!-- start section #skills -->
<section id="skills">

    <div class="row bot-70">

        <div class="medium-5 columns">
            <h2>My <strong>SKILLS</strong></h2>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>
        <div class="medium-1 columns">
            <i class="icon kurr-dashboard-speed-streamline big white"></i>
        </div>
        <div class="medium-6 columns">
            <p>
                <i>Only those who have patience to do simple things perfectly
                    ever acquire the skill to do difficult things easily.</i>
                <br>
                - James J. Corbett - </p>
        </div>

    </div>


    <div align="center" style="margin-bottom: 50px;"><h3>Web
            Development</h3></div>
    <div class="row wow fadeInUp" data-wow-delay="0s"
         data-wow-duration="1s" data-wow-offset="30">

        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="80">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">PHP</h4>

            <p>Self-Taught. Built a working website with connection to
                database.</p>
        </div>

        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="80">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">JavaScript</h4>

            <p>Self-Taught. This website is hosted using
                NodeJS and Express Framework.</p>
        </div>

        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="70">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">HTML</h4>

            <p>Self-Taught. I like using Bootstrap for the framework.</p>
        </div>

        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="70">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">EJS</h4>

            <p>Self-Taught. This is a render engine use for NodeJS. It is
                similar to HTML with the ability to embed JavaScript.</p>
        </div>


        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="60">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">Jade</h4>

            <p>Self-Taught. This is a render engine use for NodeJS. It is
                similar to HTML but there will be no usage of tags. Just
                indentations.</p>
        </div>

        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="60">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">Handlebars</h4>

            <p>Self-Taught. Very similar to EJS but with less tags and easy
                on the eyes.
            </p>
        </div>


    </div>


    <div align="center" style="margin-bottom: 50px;"><h3>Database</h3></div>
    <div class="row wow fadeInUp" data-wow-delay="0s"
         data-wow-duration="1s" data-wow-offset="30">


        <div class="medium-6 columns text-center counter">
            <span class="chart" data-percent="75">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">
                MySQL/SQLite</h4>

            <p>Taught in one class. Built a back end for local application
                using SQLite. MySQL is used for remote website.</p>
        </div>

        <div class="medium-6 columns text-center counter">
            <span class="chart" data-percent="75">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">MongoDB</h4>

            <p>Self-Taught. Deploy Mongoose for NodeJS applications.</p>
        </div>


    </div>

    <div align="center" style="margin-bottom: 50px;"><h3>Engineering</h3></div>
    <div class="row wow fadeInUp" data-wow-delay="0s"
         data-wow-duration="1s" data-wow-offset="30">

        <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="85">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">Matlab</h4>

            <p>Taught in college. Use in Signal-Processing and other
                engineering classes.</p>
        </div>

        <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="70">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">Assembly -
                MIPS</h4>

            <p>Taught in college. Required to perform a program with the
                least amount of instructions executed. </p>
        </div>

        <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="70">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">Assembly -
                X86</h4>

            <p>Self-Taught. Used in simple reverse engineering for my hobby.
            </p>
        </div>

        <div class="medium-3 columns text-center counter">
            <span class="chart" data-percent="60">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">VHDL</h4>

            <p>Taught in college. Used in Digital Design Lab and Computer
                Architecture. </p>
        </div>

    </div>

    <div align="center" style="margin-bottom: 50px;"><h3>Compiled Language</h3>
    </div>
    <div class="row wow fadeInUp" data-wow-delay="0s"
         data-wow-duration="1s" data-wow-offset="30">

        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="95">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">Java</h4>

            <p>Taught in college. Learned Java Swing, FX for GUI.</p>
        </div>

        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="75">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">C++</h4>

            <p>Taught in college. Used writing an MBED application.
            </p>
        </div>

        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="75">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">C</h4>

            <p>Taught in college. Used as an exercise to convert C to Assembly.
            </p>
        </div>


        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="75">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">Python</h4>

            <p>Self-Taught. Used TKinter to build a front-end application.
                Used in artificial intelligence class.
            </p>
        </div>

        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="70">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">C#</h4>

            <p>Self-Taught. Used for writing games in UNITY engine.
            </p>
        </div>

        <div class="medium-4 columns text-center counter">
            <span class="chart" data-percent="70">
              <span class="percent"></span>
            </span>
            <h4 class="chart-title" style="text-transform:none">LUA</h4>

            <p>Self-Taught. Used in my hobby for writing game booster programs.
            </p>
        </div>

    </div>

    <div align="center" style="margin-bottom: 50px;"><h3>Familiar Programming
            Software</h3>
    </div>
    <div class="row wow fadeInUp" data-wow-delay="0s"
         data-wow-duration="1s" data-wow-offset="30">

        <div class="medium-3 columns text-center counter">
            <img src="/img/software/intellij.png" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">Intellij
                IDE</h4>

        </div>

        <div class="medium-3 columns text-center counter">
            <img src="/img/software/eclipse.png" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">Eclipse IDE</h4>

        </div>

        <div class="medium-3 columns text-center counter">
            <img src="/img/software/vstudio.png" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">Visual
                Studio IDE</h4>

        </div>

        <div class="medium-3 columns text-center counter">
            <img src="/img/software/pycharm.png" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">Pycharm IDE</h4>

        </div>

        <div class="medium-3 columns text-center counter">
            <img src="/img/software/webstorm.png" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">Webstorm
                IDE</h4>

        </div>
        <div class="medium-3 columns text-center counter">
            <img src="/img/software/photoshop.png" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">Photoshop</h4>

        </div>

        <div class="medium-3 columns text-center counter">
            <img src="/img/software/dreamweaver.png" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">Dreamweaver</h4>

        </div>

        <div class="medium-3 columns text-center counter">
            <img src="/img/software/cheatengine.png" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">Cheat
                Engine</h4>

        </div>
    </div>


    <div align="center" style="margin-bottom: 50px;"><h3>Fluent
            Speaking/Writing Language</h3>
    </div>
    <div class="row wow fadeInUp" data-wow-delay="0s"
         data-wow-duration="1s" data-wow-offset="30">

        <div class="medium-4 columns text-center counter">
            <img src="/img/language/usa.jpg" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">English</h4>

        </div>

        <div class="medium-4 columns text-center counter">
            <img src="/img/language/thailand.jpg" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">Thai</h4>

        </div>

        <div class="medium-4 columns text-center counter">
            <img src="/img/language/china.jpg" alt=""
                 style="width:120px;"/>
            <h4 class="chart-title" style="text-transform:none">Chinese</h4>

        </div>
    </div>


</section><!-- end section #skills -->