<!-- start section#social -->
<section id = "social">
    <div class = "bg_overlay"></div>

    <div class = "row text-center">
        <h3 class = "white bot-70">My <strong>SOCIAL LINKS</strong></h3>

        <!-- start social links -->
        <a class = "social" title = "" href = "#"><i
                    class = "icon kurr-facebook"></i></a>

        <a class = "social" title = "" href = "#"><i
                    class = "icon kurr-linkedin"></i></a>
        <!-- end social links -->

    </div>

</section><!-- end section #social -->