<!-- start section testimonials -->
<section id = "testimonials">
    <div class = "bg_overlay"></div>
    <div class = "row">
        <div class = "large-12 medium-8 medium-centered columns">

            <!-- start testimonial coarousel -->
            <div id = "testimonial" class = "owl-carousel text-centered">

                <!-- start slide -->
                <div>
                    <div class = "large-9 large-centered medium-12 medium-centered columns">
                        <div class = "large-12 medium-11 columns">
                            <h3 class = "white semi-bold">Original theme<br/>Easy
                                and funny to customize </h3>
                            <h4 class = "white bordered">Paula Doe - Microsoft
                                -</h4>
                        </div>
                    </div>
                </div>
                <!-- end slide -->

                <!-- start slide -->
                <div>
                    <div class = "large-9 large-centered medium-12 medium-centered columns">
                        <div class = "large-12 medium-11 columns">
                            <h3 class = "white semi-bold">Pixel perfection on
                                this theme<br/>very useful for every purpose
                            </h3>
                            <h4 class = "white bordered">Jhon Doe - Web
                                Developer -</h4>
                        </div>
                    </div>
                </div>
                <!-- end slide -->

                <!-- start slide -->
                <div>
                    <div class = "large-9 large-centered medium-12 medium-centered columns">
                        <div class = "large-12 medium-11 columns">
                            <h3 class = "white semi-bold">this theme is fully
                                responsive<br/>Fix perfectly on every device
                            </h3>
                            <h4 class = "white bordered">Paul Doe - Apple apps
                                developer -</h4>
                        </div>
                    </div>
                </div>
                <!-- end slide -->

            </div>
            <!-- end#testimonial carousel -->

        </div>
    </div>

</section><!-- end section testimonials -->