<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>

<!-- start styleswitcher, remove this -->
<div class="switcher"></div>
<!-- end styleswitcher -->

<!-- Preloader -->
<div class="mask">
    <div id="loader"></div>
</div>
<!--/Preloader -->

<div class="menu-btn-left">
    <img alt="" src="/img/nav.svg">
</div>

<!-- start navigation -->
<nav class="pushy pushy-left">

    <div class="logo-small">
        <a class="inner-link" href="#home"><img class="logo nav-logo" alt="Kurr"
                                                src = "/img/myProfilePicture2.jpg"></a><br>
    </div>


    <!--start bottom menu content -->
    <div class = "bottom-content">
        <span>Ratchapong Tangkijvorakul</span><br>
        <span><a href = "mailto:ratchapong.t@gmail.com">ratchapong.t@gmail.com</a></span><br>
        <span>(470) 226 6955</span>

    </div>
    <!-- end bottom menu content -->

    <!-- start menu -->
    <ul class="menu">
        <li><a class="inner-link" href="#about">About</a></li>
        <li><a class="inner-link" href="#education">Education</a></li>
        <li><a class = "inner-link" href = "#testimonials">Testimonials</a></li>
        <li><a class="inner-link" href="#skills">Skills</a></li>
        <li><a class="inner-link" href="#portfolio">Portfolio</a></li>
        <li><a class = "inner-link" href = "#quote">Quote</a></li>
        <li><a class="inner-link" href="#experience">Experience</a></li>
        <li><a class="inner-link" href="#contact">Contact</a></li>
    </ul>
    <!-- end menu -->


</nav>
<!-- end navigation -->

<div class="site-overlay"></div>

<!-- start section #home -->
<section id="home">
    <div class="bg_overlay"></div>
    <div class="row">
        <div class="medium-8 medium-text-center medium-centered small-8 small-text-centered small-centered columns">
            <img class="logo" src="/img/2015bannerSunny.jpg" alt=""
                 style="width: 200px"/><br/>

            <h3 class="white">Sunny Patel</h3>

            <p class="white">Resume</p>
        </div>
    </div>

    <!-- mouse wheel on slider revolution (custom) -->
    <div class="intro-scroller">
        <a class="inner-link" href="#about">
            <div class="mouse-icon white" style="opacity: 1;">
                <div class="wheel"></div>
            </div>
        </a>
    </div>
    <!-- end mouse wheel on slider revolution (custom) -->

</section>
<!-- end section #home -->

<div id="wrapper">
    <% include sections/about.ejs %>
    <% include sections/education.ejs %>
    <% include sections/testimonials.ejs %>
    <% include sections/skills.ejs %>
    <% include sections/portfolio.ejs %>
    <% include sections/quotes.ejs %>
    <% include sections/experience.ejs %>
    <% include sections/social.ejs %>
    <% include sections/contact.ejs %>
    <!-- start footer -->
    <footer>
        <% include partials/footer.ejs %>
    </footer>
    <!-- end footer -->

</div>
<!-- end wrapper -->

<% include partials/jsdefaults.ejs %>

<script>
    $(document).foundation();
</script>

<script>
    new WOW().init();
</script>

</body>
</html>

