<!DOCTYPE html>
<html class = "no-js" lang = "en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>

<!-- start styleswitcher, remove this -->
<div class = "switcher"></div>
<!-- end styleswitcher -->

<!-- Preloader -->
<div class = "mask">
    <div id = "loader"></div>
</div>
<!--/Preloader -->

<div class = "menu-btn-left">
    <img alt = "" src = "/img/nav.svg">
</div>

<!-- start navigation -->

<nav class = "pushy pushy-left">

    <div class = "logo-small">
        <a class = "inner-link" href = "/home"><img class = "logo nav-logo"
                                                    alt = "Kurr"
                                                    src = "/img/myProfilePicture2.jpg"></a><br>
    </div>


    <!--start bottom menu content -->
    <div class = "bottom-content">
        <span>Ratchapong Tangkijvorakul</span><br>
        <span><a href = "mailto:ratchapong.t@gmail.com">ratchapong.t@gmail.com</a></span><br>
        <span>(470) 226 6955</span>

    </div>
    <!-- end bottom menu content -->

    <!-- start menu -->
    <ul class = "menu">
        <li style = "background-color: #00b4ff"><a class = "inner-link"
                                                   href = "/projects">
                All Projects</a></li>
        <li><a class = "inner-link" href = "#overview">Overview</a></li>
        <li><a class = "inner-link" href = "#program">Program Used</a></li>
        <li><a class = "inner-link" href = "#showcase">Showcase</a></li>
    </ul>
    <!-- end menu -->


</nav>


<div class = "site-overlay"></div>


<!-- end section #home -->

<div id = "wrapper">
    <section id = "title">
        <h1 align = "center"><%= title %></h1>
    </section>
    <section id = "overview" style = "padding-top: 50px; padding-bottom: 0px">

        <div class = "row bot-70">
            <h2 style = "margin-bottom: 30px"><strong>Project Overview</strong>
            </h2>

            <p>This project focuses on an image search problem: finding a
                specific face in an image or photograph.
                This is a problem that arises in many video surveillance
                applications (e.g., detecting a
                well-known terrorist's face in a crowd at an airline terminal)
                as well as in searching large collections
                of digital images (e.g., finding all photos you took five years
                ago that contain your grandmother).
                In this assignment, we will focus on finding George P. Burdell,
                whose mugshot is
                shown, in an image that contains a crowd of faces. George's,
                may be upright or may be rotated by 90, 180, or
                270 degrees.</p>


            <div align = "center" style = "margin-bottom: 50px">
                <img src = "/portfolio/findgeorge/findgeorgecover.png" alt = ""
                     style="width:25%;"/>
            </div>
            <div align = "center">
                <img src = "/portfolio/findgeorge/crowd.png" alt = ""
                     style="width:50%;"/>
            </div>
        </div>

    </section>

    <section id = "program" style = "padding-top: 50px; padding-bottom: 0px">

        <div class = "row bot-70">

            <h2 style = "margin-bottom: 30px"><strong>Programming
                    Software/Languages</strong></h2>

            <div style="margin-right: 50px;float: left;width: 150px;
            text-align:
            center">
                <img src="/img/software/ubuntu.jpg" alt=""
                     style="width:150px;"/>
                <h4 class="chart-title" style="text-transform:none">
                    Ubuntu</h4>

                <p>Version 12.04.5 32-Bit.Any version would work. Other
                    platform would work too. As
                    long as python 2.7 is installed.
                </p>
            </div>

            <div style="margin-right: 50px;float: left;width: 150px;
            text-align:
            center">
                <img src="/img/software/mips.png" alt=""
                     style="width:150px;"/>
                <h4 class="chart-title" style="text-transform:none">
                    MiSaSiM</h4>

                <p>MIPS ISA simulator that supports flexible exploration of
                    an assembly program's execution.
                </p>
            </div>

            <div style="float: left;width: 150px; text-align:
            center">
                <img src="/img/software/python.png" alt=""
                     style="width:150px; "/>
                <h4 class="chart-title" style="text-transform:none">
                    Python</h4>

                <p>Version 2.7. Used to run MiSaSiM (MIPS ISA simulator).</p>
            </div>


        </div>


    </section>
    <section id = "showcase" style = "padding-top: 50px; padding-bottom: 0px">

        <div class = "row bot-70">
            <h2 style = "margin-bottom: 30px"><strong>Project
                    Showcase</strong></h2>
            <h4 style = "margin-top: 30px"><strong>Final Result</strong></h4>

            <p>The goal is to find george with least instruction possible.
                The baseline established were: </p>

            <ul>
                <li>Static Code Size: 123 instructions (I used 159)</li>
                <li>Dynamic Instruction Length: 4300 instructions (avg.) (I
                    used 1100)
                </li>
                <li>Storage Required: 16 words (I
                    used 12)
                </li>
            </ul>
            In the end, I achieved 2nd place (out of 144 students) across both
            sections for efficient algorithm and coding style.

            <video controls loop src="/portfolio/findgeorge/findgeorge.mp4"
                   style="max-width: 100%; margin-top: 30px;
                   margin-bottom: 30px"></video>
            <h4 style="margin-top: 30px"><strong>Class Photo</strong></h4>
            The project was so fun that the students decided to use the
            project theme for the halloween surprise. The professor was
            really pleased.


            <img src="/portfolio/findgeorge/findgeorgeclass.jpg" alt=""
                 style="width:100%; margin-top: 30px"/>


        </div>


    </section>

    <% include ../sections/contact.ejs %>

</div>
<!-- end wrapper -->

<% include ../partials/jsdefaults.ejs %>

<script>
    $(document).foundation();
</script>

<script>
    new WOW().init();
</script>

</body>
</html>

